.row
  .col-md-9
    .panel-group#accordion
      - @sites.each do |key,sites|
        .panel.panel-default
          .panel-heading
            .panel-title
              a data-toggle="collapse" data-parent="#accordion" href=="##{key}" = "#{key}(#{sites.count})"
            .panel-collapse.collapse.in id=="#{key}"
              .panel-body
                .row
                  - sites.each do |site|
                    .col-md-4
                      .panel.panel-site.site-card
                        .panel-heading
                          = site.name
                          .pull-right
                            = link_to "Edit", site_path(site)
                        .panel-body
                          ul
                            li = "designers = #{site.designers.count}"
                            - site.designers.each do |designer|
                              li = designer.email
                          hr
                          ul
                            li = "editors = #{site.editors.count}"
                            - site.editors.each do |editor|
                              li = editor.email
                          hr
                          ul
                            li = "contributors = #{site.contributors.count}"
                            - site.contributors.each do |contributor|
                              li = contributor.email
                          hr
  .col-md-3
    .panel.panel-success
      .panel-heading.text-center
        i.icon-plus-sign
        '
        | Add New Site
      .panel-body
        = link_to fa_icon("plus-sign large", text: "Create New Site"), new_site_path, class: "btn btn-primary btn-lg btn-block"
        = link_to fa_icon("upload large", text: "Upload a Jekyll Site"), upload_new_site_path, class: "btn btn-primary btn-lg btn-block disabled"
        = link_to fa_icon("github large", text: "Create from Git"), git_new_site_path, class: "btn btn-primary btn-lg btn-block disabled"
