- unless current_user.tester?
  .row
    .col-md-9.col-md-offset-3
      .panel.panel-default
        .panel-heading
          = link_to fa_icon("chevron-left large", text: "Back"), :back, class: "pull-left"
          h2.panel-title.text-center
            | Edit 
            = resource_name.to_s.humanize
        .panel-body
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f|
            = f.error_notification
            .form-group
              = f.label :email, class: "col-lg-3 control-label", required: true
              .col-md-9
                = f.input_field :email, required: true, autofocus: true, class: "form-control"
                = f.error :email, class: 'text-danger'
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              p
                | Currently waiting confirmation for: 
                = resource.unconfirmed_email
            .form-group
              = f.label :password, class: "col-lg-3 control-label"
              .col-md-9
                = f.input_field :password, class: "form-control", autocomplete: "off"
                = f.hint :password, hint: "leave it blank if you don't want to change it"
                = f.error :password, class: 'text-danger'
            .form-group
              = f.label :password_confirmation, class: "col-lg-3 control-label"
              .col-md-9
                = f.input_field :password_confirmation, class: "form-control"
                = f.error :password_confirmation, class: 'text-danger'
            .form-group
              = f.label :current_password, class: "col-lg-3 control-label"
              .col-md-9
                = f.input_field :current_password, class: "form-control", autocomplete: "off"
                = f.hint :current_password, hint: "we need your current password to confirm your changes"
                = f.error :current_password, class: 'text-danger'
            .form-actions
              .col-md-offset-3      
                = f.button :submit, "Update", class: "btn btn-success btn-block btn-lg"
        .panel-footer.alert-danger
          .col-md-offset-3 
            h3
              | Cancel my account
            p
              | Unhappy? 
              = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
- else
  h1 Sorry and you are using Test account. If you want to have full access, Please Singup
  = link_to "Sign Up NOW", try_after_path, class: "btn btn-lg"
  