.row.devise
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        h2.panel-title.text-center Sign up
      .panel-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f|
          = f.error_notification
          .form-group
            = f.label :email, class: "col-lg-3 control-label", required: true
            .col-md-9
              = f.input_field :email, required: true, autofocus: true, class: "form-control"
              = f.error :email, class: 'text-danger'
          .form-group
            = f.label :password, class: "col-lg-3 control-label", required: true
            .col-md-9
              = f.input_field :password, required: true, class: "form-control"
              = f.error :password, class: 'text-danger'
          .form-group
            = f.label :password_confirmation, class: "col-lg-3 control-label", required: true
            .col-md-9
              = f.input_field :password_confirmation, required: true, class: "form-control"
              = f.error :password_confirmation, class: 'text-danger'
          .form-actions
            .col-md-offset-3      
              = f.button :submit, "Sign up", class: "btn btn-success btn-block btn-lg"
      .panel-footer
        .col-md-offset-3 
          = render "devise/shared/links"
