- if controller_name != 'sessions'
  = link_to fa_icon("signin large", text: "Sign in"), new_session_path(resource_name), class: "btn"
  br
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to fa_icon("bullhorn large", text: "Sign up"), new_registration_path(resource_name), class: "btn"
  br
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to fa_icon("asterisk large", text: "Forgot your password?"), new_password_path(resource_name), class: "btn"
  br
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to fa_icon("exclamation large", text: "Didn't receive confirmation instructions?"), new_confirmation_path(resource_name), class: "btn"
  br
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to fa_icon("unlock-alt large", text: "Didn't receive unlock instructions?"), new_unlock_path(resource_name), class: "btn"
  br
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to fa_icon("#{provider.to_s} large", text: "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider), class: "btn"
    br
