= simple_form_for([@site, @template], html: {class: "form-horizontal"}) do |f|
  = f.error_notification
  .panel.panel-default
    .panel-heading.clearfix
      .form-group
        .col-md-2
          = f.label :name,class: "text-right control-label", required: true
        .col-md-8
          = f.input_field :name, required: true, autofocus: true, class: "form-control"
        .col-md-2
          = f.error :title, class: 'text-danger'
      .form-group
        .col-md-3
          = f.label :default, class: "text-right control-label", required: true
        .col-md-9.form-inline
          = f.input_field :default, as: :boolean, class: "form-control"
    .panel-body
      = f.input :body, as: :text, input_html: {class: "form-control codemirror cm-s-solarized cm-s-light", id: "page_body"}
    .panel-footer.text-center      
        = f.button :submit, class: "btn btn-success btn-lg"
