hr
.row
  .col-md-8
    - if @site.templates.blank?
      h1 there is no pages
    .list-group
      - @templates.each do |template|
        .list-group-item.active.clearfix
          .col-md-10
            h4.list-group-item-heading
              = link_to "#{template.name}", [@site, template]
            p.list-group-item-text
              = template.body
          .col-md-1.pull-right
            = link_to fa_icon("trash 2x"), [@site, template], class: "btn btn-danger", :confirm => 'Are you sure?', :method => :delete
      = paginate @templates
  .col-md-4
    .panel.panel-default
      .panel-heading Sider Bar
      .panel-body
        = link_to fa_icon("edit", text: "Add a new Layout"), new_site_template_path(@site), class: "btn btn-success btn-lg btn-block"
    .panel.panel-default
      .panel-heading Sider Bar
      .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h1 Listing Templates
