p#notice = notice
/ 
/ p
/   strong Name:
/   = @template.name
/ p
/   strong body:
/ pre
/   = @template.body

== render 'form'

= link_to 'Edit', edit_site_template_path(@site, @template)
'|
= link_to 'Back', site_templates_path
