.row.devise
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        h2.panel-title.text-center Change your password
      .panel-body
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f|
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token
          .form-group
            = f.label :password, label: "New password", class: "col-lg-3 control-label", required: true
            .col-md-9
              = f.input_field :password, required: true, class: "form-control"
              = f.error :password, class: 'text-danger'
          .form-group
            = f.label :password_confirmation, label: "Confirm your new password", class: "col-lg-3 control-label", required: true
            .col-md-9
              = f.input_field :password_confirmation, required: true, class: "form-control"
              = f.error :password_confirmation, class: 'text-danger'
          .form-actions
            .col-md-offset-3      
              = f.button :submit, "Change my password", class: "btn btn-success btn-block btn-lg"
      .panel-footer
        .col-md-offset-3 
          = render "devise/shared/links"
