.row.devise
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        h2.panel-title.text-center Forgot your password?
      .panel-body
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f|
          = f.error_notification
          .form-group
            = f.label :email, class: "col-lg-3 control-label", required: true
            .col-md-9
              = f.input_field :email, required: true, autofocus: true, class: "form-control"
              = f.error :email, class: 'text-danger'
          .form-actions
            .col-md-offset-3      
              = f.button :submit, "Send me reset password instructions", class: "btn btn-success btn-block btn-lg"
      .panel-footer
        .col-md-offset-3 
          = render "devise/shared/links"
