<div id="wistia_tseauwzrqa" class="wistia_embed" style="width:498px;height:280px;">&nbsp;</div>
<script charset="ISO-8859-1" src="http://fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("tseauwzrqa", {
  videoFoam: true
});
</script>