.pageheader
  .container
    .row
      .col-md-5
        == image_tag "logo_white.png"
        .slogan
          p.text-left A Brand New CMS
          p.text-right for Jekyll Powered Site
        .text-center
          = link_to "Try it for FREE now without Singup", try_path, class: "btn btn-danger btn-lg btn-try"
          = link_to "Or Sign Up NOW", new_user_registration_path, class: "btn btn-signup"
      .col-md-6
        .pull-right4
          ul.nav.nav-pills.home-nav
            li
              a href="#" Home
            li
              a href="#features" Features
            li
              a href="#pricing" Pricing
            li
              a href="/explore" Explore
            li
              a href="http://blog.okyll.com" Blog
            li
              = link_to "Log in", new_user_session_url, class: "btn btn-success"
        .video.clearfix
          == render 'shared/video.html'
.pagebody#features
  .container
    .row
      .col-md-10.col-md-offset-1
        h2.text-center WorkFlow Compatibility with Jekyll
        hr
        .row.text-center
          .col-md-3
            == image_tag "jekyll.png", class: "col-md-10 "
            div Create your site in Jekyll
          .col-md-3
            == image_tag "logo.png", class: "col-md-10"
            div Upload your site to Okyll
          .col-md-3.center-block
            ' 
            = fa_icon("group 4x")
            div Add Collaborator
          .col-md-3
            = fa_icon("cloud 4x")
            div Deploy after Publishing
    hr
    .row
      .col-md-10.col-md-offset-1.collaboration
        h2.text-center Collaboration
    .row
      .col-md-5.col-md-offset-1
        h3.text-left Version Control
        hr
        p.text-left 
          = fa_icon("code-fork 4x border", class: "pull-left")
          | Support Version Control (Working...)
      .col-md-5
        h3.text-right Live Preview
        hr
        p.text-right
          | You can preview before you deploy
          = fa_icon("eye-open 4x border", class: "pull-right")
    .row
      .col-md-5.col-md-offset-1
        h3.text-left Static like Jekyll
        hr
        p.text-left
          | You can download your site as HTML or ebooks.
          = fa_icon("download-alt 4x border", class: "pull-left")
      .col-md-5
        h3.text-right Deployable
        hr
        p.text-right
          | Easy depoly your site to S3 or Github Pages anytime
          = fa_icon("4x refresh spin", class: "pull-right")
