hr
.row
  .col-md-3
    .settings-siderbar
      ul.nav.nav-pills.nav-stacked
        li
          = link_to "Settings", settings_site_path
        li
          = link_to "Teams", teams_site_path
        li.active
          = link_to "Deploy Way", deployway_site_path
  .col-md-9
    = simple_form_for(@site, html: {class: "form-horizontal"}) do |f|
      = f.error_notification
      .panel.panel-default
        .panel-heading.clearfix
          .form-group
            .col-md-2
              = f.label :type,class: "text-right control-label", required: true
      /       .col-md-8
      /         = f.input_field :name, required: true, autofocus: true, class: "form-control"
      /       .col-md-2
      /         = f.error :title, class: 'text-danger'
      /     .form-group
      /       .col-md-3
      /         = f.label :default, class: "text-right control-label", required: true
      /       .col-md-9.form-inline
      /         = f.input_field :default, as: :boolean, class: "form-control"
      /   .panel-body
      /     = f.input :body, as: :text, input_html: {class: "form-control codemirror cm-s-solarized cm-s-light", id: "page_body"}
      /   .panel-footer.text-center      
      /       = f.button :submit, class: "btn btn-success btn-lg"
      /     
    .panel.panel-default
      .panel-heading Please set your deploy way
      .panel-body After deploy from Git, you can go https://github.com/chunlea/idnspod/tree/gh-pages find the depolyed version
      .panel-footer For Amazon S3, go http://chunlea.s3-website-ap-northeast-1.amazonaws.com/
    