hr
.row
  .col-md-3
    .settings-siderbar
      ul.nav.nav-pills.nav-stacked
        li
          = link_to "Settings", settings_site_path
        li.active
          = link_to "Teams", teams_site_path
        li
          = link_to "Deploy Way", deployway_site_path
  .col-md-9
    .panel.panel-danger
      .panel-heading Danger Zone™
      .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .list-group
        .list-group-item.clearfix
          h4.list-group-item-heading.text-warning Transfer your site
          p.list-group-item-text.clearfix
            .pull-left.text-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .pull-right
              = link_to "Transfer your site", root_path, class: "btn btn-warning"
        .list-group-item.clearfix
          h4.list-group-item-heading.text-danger Remove your site
          p.list-group-item-text.clearfix
            .pull-left.text-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .pull-right
              = link_to "Remove your site", @site, class: "btn btn-danger", :confirm => 'Are you sure?', :method => :delete
    - 3.times
      .panel.panel-default
        .panel-heading Main
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    