= simple_form_for([@site, @page], html: {class: "form-horizontal"}) do |f|
  = f.error_notification
  .panel.panel-default
    .panel-heading.clearfix
      .form-group
        .col-md-2
          = f.label :title, label: "Title",class: "text-right control-label", required: true
        .col-md-8
          = f.input_field :title, required: true, autofocus: true, class: "form-control"
        .col-md-2
          = f.error :title, class: 'text-danger'
      .form-group
        .col-md-2
          = f.label :permalink,class: "control-label", required: true
        .col-md-8
          .input-group
            span.input-group-addon http://domain.name/
            = f.input_field :permalink, class: "form-control"
        .col-md-2
          = f.error :permalink, class: 'text-danger'
      .row
        .form-input.col-md-4
          .col-md-3
            = f.label :published, class: "text-right control-label", required: true
          .col-md-9.form-inline
            = f.input_field :published, as: :boolean, class: "form-control"
        .form-input.col-md-4
          .col-md-3
            = f.label :type, class: "text-right control-label", required: true
          .col-md-9.form-inline
            = f.input_field :type, collection: Page::PAGETYPE, as: :select, class: "form-control"
        .form-input.col-md-4
          = f.input :template, collection: @site.templates.all, prompt: "Choose a Company"
    .panel-body
      = f.input_field :body, as: :text, class: "qeditor form-control", rows: "34"
    .panel-footer.text-center      
        = f.button :submit, class: "btn btn-success btn-lg"
