h1 Listing pages

table
  tr
    th Title
    th Permalink
    th Published
    th Body
    th
    th
    th

  - @pages.each do |page|
    tr
      td = page.title
      td = page.permalink
      td = page.published
      td = page.body
      td = link_to 'Show', site_page_path(page.site,page)
      td = link_to 'Edit', edit_site_page_path(page.site,page)
      td = link_to 'Destroy', site_page_path(page.site,page), :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Page', new_site_page_path
