p#notice = notice
/ 
/ p
/   strong Title:
/   = @page.title
/ p
/   strong Permalink:
/   = @page.permalink
/ p
/   strong Published:
/   = @page.published
/ p
/   strong Body:
/   = @page.body
== render 'form'

= link_to 'Edit', edit_site_page_path(@page.site, @page)
'|
= link_to 'Back', site_path(@page.site)
