.row.devise
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        h2.panel-title.text-center Sign in
      .panel-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f|
          = f.error_notification
          .form-group
            = f.label :email, class: "col-lg-3 control-label"
            .col-md-9
              = f.input_field :email, autofocus: true, class: "form-control"
              = f.error :email, class: 'text-danger'
          .form-group
            = f.label :password, class: "col-lg-3 control-label"
            .col-md-9
              = f.input_field :password, class: "form-control"
              = f.error :password, class: 'text-danger'
          - if devise_mapping.rememberable?
            .form-group
              = f.label :remember_me, class: "col-lg-3 control-label"
              .col-md-9
                = f.input_field :remember_me, as: :boolean
          .form-actions
            .col-md-offset-3      
              = f.button :submit, "Sign in", class: "btn btn-success btn-block btn-lg"
      .panel-footer
        .col-md-offset-3 
          = render "devise/shared/links"
