/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
// import original bootstrap
@import "twitter/bootstrap";
@import "font-awesome";

@import "style";
@import "jquery.qeditor";
@import "bootstrap-switch";

body {
  background-color: #E1F1F1;
  color: #333;
}
.page-footer {
  min-height:80px;
  background-color: #E1F1F1; /* layer fill content + color overlay */
  -moz-box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
  -webkit-box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
  box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
}
.footer-nav > li > a{
  padding:10px 5px;
}
.footer-nav > img{
  padding:10px 5px;
}