@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

//
// Navbar
// --------------------------------------------------

// Default navbar
.navbar-default {
  background: #fff;
//  @include gradient-vertical($start-color: lighten($navbar-default-bg, 10%), $end-color: $navbar-default-bg);
  @include reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: $navbar-border-radius;
  $shadow: 0 1px 5px rgba(51,51,51,0.2);
  @include box-shadow($shadow);

  .navbar-nav > .active > a {
    @include gradient-vertical($start-color: darken($navbar-default-bg, 5%), $end-color: darken($navbar-default-bg, 2%));
    @include box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}


//
// Panels
// --------------------------------------------------
.panel-site {
  @include box-shadow(0 1px 2px rgba(0,0,0,.05));
  > .panel-heading {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
}

//
// Alerts
// --------------------------------------------------
#flash {
  top:0px;
  position: fixed;
  z-index: 10000;
}
// Common styles
.notice {
  @extend .alert-success;
}
.alert-error {
  @extend .alert-danger;
}
//
// Devise
// --------------------------------------------------
.devise {
  margin-top:50px;
}
