// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Here Homepage
body {
  background: #E1F1F1 center top no-repeat fixed;
  background-size:cover;
}
.pagebody {
  width: 100%;
  background-color: #fff;
  padding: 20px 0px;
  -moz-box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
  -webkit-box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
  box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
  text-shadow: 0px 2px 3px rgba(210,208,208,.57);
  h2,h3 {
    color:#563d7c;
  }
}
.pageheader {
  height: auto;
  padding: 20px 0px;
}
.slogan {
  padding-top:15px;
  > p {
  padding: 8px 20px;
  color: #fff; /* text color */
  font-size: 32px;
  text-shadow: 1px 2px 2px rgba( 0, 0, 0, 0.5);
  }
}
.btn-try {
  border-radius: 6px;
  background-image: -moz-linear-gradient( 90deg, rgb(207, 68, 66) 60%, rgb(223, 102, 99) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(207, 68, 66) 60%, rgb(223, 102, 99) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(207, 68, 66) 60%, rgb(223, 102, 99) 100%);
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-shadow: 0px -1px 1px rgb( 0, 0, 0 );
  &:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(223, 102, 99) 100%, rgb(207, 68, 66) 0%);
    background-image: -webkit-linear-gradient( 90deg, rgb(223, 102, 99) 100%, rgb(207, 68, 66) 0%);
    background-image: -ms-linear-gradient( 90deg, rgb(223, 102, 99) 100%, rgb(207, 68, 66) 0%);
  }
}
.btn-signup {
  color: #fff;
  text-shadow: 0px -1px 1px rgb( 0, 0, 0 );
  &:hover {
    color: #ccc;
  }
}
.video {
  padding-top: 60px;
}
.home-nav {  
  li {
    a {
      color: #fff; /* text color + color overlay + gradient overlay */
      font-size: 18px;
      text-shadow: 0 -1px 2px rgba(0,0,0,.65); /* drop shadow */
      padding-bottom: 5px;
    }
    a:hover{
      background-color:transparent;
    }
    
  }
  li.active {
    a {
      background-color:transparent;
      color: #fff; /* text color + color overlay + gradient overlay */
      font-size: 18px;
      text-shadow: 0 -1px 1px rgba(0,0,0,.55); /* drop shadow */
      border-bottom: 3px solid red;
    }
  }
}
.collaboration {
  background:transparent image-url('home.png') left top no-repeat;
  background-size:100%;
  height:300px;
}