#flash.container
    .row
      .col-md-6.col-md-offset-3
        - flash.each do |key, value|
          .alert title=key.to_s.humanize class=key
            button.close data-dismiss="alert" &times;
            = value