.page-footer
  .container
    .row
      .col-md-5.col-sm-5.col-xs-12
        ul.nav.nav-pills.footer-nav
          li.disabled
            a &copy; 2013 Okyll.com
          li
            a href="/about/terms" Terms
          li
            a href="/about/" Privacy
          li
            a href="/about/" Security
          li
            a href="/about/" Contact
      .col-md-2.col-sm-2.col-xs-12.text-center
        a.footer-nav href="#"
          == image_tag "logo_footer.png"
      .col-md-5.col-sm-5.col-xs-12
        ul.nav.nav-pills.pull-right.footer-nav
          li
            a href="http://status.okyll.com" Status
          li
            a href="/about/api" API
          li
            a href="http://blog.okyll.com" Blog
          li
            a href="/about" About
