.page-footer
  .container
    .row
      .col-md-4.col-md-offset-1.col-sm-5.col-xs-12
        ul.nav.nav-pills.footer-nav
          li.disabled
            a href="#" &copy; 2013 Okyll.com
          li
            a href="#" Terms
          li
            a href="#" Privacy
          li
            a href="#" Security
          li
            a href="#" Contact
      .col-md-2.col-sm-2.col-xs-12.text-center
        a.footer-nav href="#"
          == image_tag "logo_footer.png"
      .col-md-4.col-sm-5.col-xs-12
        ul.nav.nav-pills.pull-right.footer-nav
          li.disabled
            a href="#" Status
          li
            a href="#" API
          li
            a href="#" Blog
          li
            a href="#" About
