head
  meta charset='utf-8'
  meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'
  title
    | #{ controller.controller_name.titleize } - #{ controller.action_name.titleize } - Okyll.com
  meta content='' name='description'
  meta content='width=device-width' name='viewport'

  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  / Append your own using content_for :stylesheets
  == yield :stylesheets

  / All JavaScript at the bottom, except polyfills
  / = javascript_include_tag 'polyfills'

  = csrf_meta_tag