header
  .navbar.navbar-default.navbar-static-top
    .container
      .row
        = link_to "Okyll", root_url, class: "navbar-brand okyll-logo"
        form.navbar-form.navbar-left role="search" style="width:250px"
          .input-group
            span.input-group-addon
              i.icon-search
            input.form-control type="text" placeholder="Search"
        ul.nav.navbar-nav
          li = link_to "Explore", "/explore"
          li
            a href="http://blog.okyll.com" Blog
          li
            a href="http://help.okyll.com" Help
        - if user_signed_in?
          ul.nav.navbar-nav.pull-right
            li
              img
            li.navbar-text
              = current_user.email
            li
              = link_to root_url do
                i.icon-dashboard.icon-large
            li
              = link_to edit_user_registration_url do
                i.icon-cogs.icon-large
            li
              = link_to destroy_user_session_url, method: :delete do
                i.icon-signout.icon-large
        - else
          .pull-right
            = link_to "Features", "/#features", :class => "navbar-btn btn btn-success" 
            '
            = link_to "Sign up", new_user_registration_url, :class => "navbar-btn btn btn-success"
            '
            = link_to "Sign in", new_user_session_url, :class => "navbar-btn btn btn-success"