javascript:
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "bottom";

<!-- Paste this before your front page's </body> tag. -->
<script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>

= javascript_include_tag 'application', "data-turbolinks-track" => false

/  Append your own using content_for :javascripts
== yield :javascripts

/ Google Analytics
/ Looks for google_account_id first in ENV['GOOGLE_ACCOUNT_ID'] then in config/html5_rails.yml
- if !Settings.google_account_id.blank?
  javascript:
    var _gaq=[['_setAccount','#{ Settings.google_account_id }'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
