.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        h2.panel-title.text-center Create New Site
      .panel-body
        = simple_form_for(@site, html: {class: "form-horizontal"}) do |f|
          = f.error_notification
          .form-group
            = f.label :name, label: "Site Name",class: "col-lg-3 control-label", required: true
            .col-md-9
              = f.input_field :name, required: true, autofocus: true, class: "form-control"
              = f.error :name, class: 'text-danger'
          .form-actions
            .col-md-offset-3      
              = f.button :submit, "Create", class: "btn btn-success btn-block btn-lg"
