/ - Liquid::Template.file_system = @template
/ - Liquid::LocalFileSystem.new("/tmp/theme")
/ / - liquid = Liquid::Template.parse(template)
/ == html = Liquid::Template.parse(@template).render('page_content' => @page.body, 'page_title' => @page.title)
