h1 Welcome to Okyll Explore
hr
ul.list-group
  - @sites.each do |site|
    li.list-group-item
      .row
        .col-md-6
          = site.name
        .col-md-6.text-right
          = site.owner.email