doctype html
/[if lt IE 7]
  |<html class='no-js lt-ie9 lt-ie8 lt-ie7'>
/[if IE 7]
  |<html class='no-js lt-ie9 lt-ie8'>
/[if IE 8]
  |<html class='no-js lt-ie9'>
/![if gt IE 8]><!
html.no-js
  /!<![endif]

  == render 'head'
  
  / Javascript at the bottom for fast page loading
  == javascript_include_tag 'codemirror'
  == javascript_include_tag 'codemirror/modes/xml'
  == javascript_include_tag 'codemirror/modes/javascript'
  == javascript_include_tag 'codemirror/modes/htmlmixed'
  == stylesheet_link_tag 'codemirror'
  == stylesheet_link_tag 'codemirror/themes/solarized.css'
  
  body class=controller.controller_name
    == render 'chromeframe'
    == render 'header'

    .container
      == render 'flashes'
    .container
      .row
        .col-md-2
          .btn-group.pull-left
            = link_to @site.name, @site, class: "btn btn-default"
            button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              span class="caret"
              span class="sr-only" Toggle Dropdown
            ul.dropdown-menu role="menu"
              - current_user.sites.each do |site|
                - unless site == @site
                  li
                    = link_to site.name, site_path(site)
        .col-md-5
          .btn-group
            = link_to fa_icon("eye-open", text: "Manager Content"), @site, class: "btn"
            = link_to fa_icon("cloud", text: "Manager Layouts"), site_templates_path(@site), class: "btn"
            = link_to fa_icon("download-alt", text: "Manager Assets"), preview_site_path(@site), class: "btn disabled"
        .col-md-5
          .pull-right
            - if @page
              = link_to fa_icon("eye-open", text: "Preview"), preview_site_url(@site) << "/#{@page.permalink}", target: "_blank", class: "btn btn-default"
            - else
              = link_to fa_icon("eye-open", text: "Preview"), preview_site_path(@site), target: "_blank", class: "btn btn-default"
              
            '
            .btn-group.btn-success
              = link_to fa_icon("cloud", text: "Deploy"), site_path(@site), class: "btn btn-success"
              button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                span class="caret"
                span class="sr-only" Toggle Dropdown
              ul.dropdown-menu role="menu"
                li
                  = link_to fa_icon("github", text: "Github Pages"), site_path(@site) << "/deploy/git"
                li
                  = link_to fa_icon("cloud", text: "Amazon S3"), site_path(@site) << "/deploy/s3"
            '
            = link_to fa_icon("download-alt", text: "Download"), preview_site_path(@site), class: "btn btn-default"
            '
            = link_to fa_icon("cogs", text: "Settings"), settings_site_path(@site), class: "btn btn-default"
    .container
      == yield
    hr
    
    == render 'footer'

    / Javascript at the bottom for fast page loading
    == render 'javascripts'
