doctype html
/[if lt IE 7]
  |<html class='no-js lt-ie9 lt-ie8 lt-ie7'>
/[if IE 7]
  |<html class='no-js lt-ie9 lt-ie8'>
/[if IE 8]
  |<html class='no-js lt-ie9'>
/![if gt IE 8]><!
html.no-js
  /!<![endif]

  == render 'head'
  == javascript_include_tag 'codemirror'
  == javascript_include_tag 'codemirror/modes/xml'
  == javascript_include_tag 'codemirror/modes/javascript'
  == javascript_include_tag 'codemirror/modes/htmlmixed'
  == stylesheet_link_tag 'codemirror'
  == stylesheet_link_tag 'codemirror/themes/solarized.css'

  body class=controller.controller_name
    == render 'chromeframe'
    == render 'header'

    .container
      == render 'flashes'
    
    .container
      == yield
      hr
    == render 'footer'

    / Javascript at the bottom for fast page loading
    == render 'javascripts'
